# Git
.git
.gitignore

# Docker
.docker

# Python
quizproject/__pycache__/
quizproject/*/__pycache__/
quizproject/*/*/__pycache__/
quizproject/*/*/*/__pycache__/
.env/
.venv/
.vscode/
venv/
env/

# Local PostgreSQL data
data/